/* @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

#product-overview {
	background: #ff1b68;
	padding: 10px;
	width: 100%;
	height: 528px;
}

.section-title {
	color: #2ddf5c;
}

#product-overview h1 {
	color: aqua;
	font-family: 'Anton', Times, serif;
}

/* h1 {
	font-family: sans-serif;
} */
.main-header {
	background-color: #2ddf5c;
	width: 100%;
	padding: 8px 16px;
}
.main-header > div {
	display: inline-block;
	vertical-align: middle;
}
.main-header__brand {
	color: #0e4f1f;
	text-decoration: none;
	font-weight: bolder;
	font-size: 22px;
}
.main-nav {
	display: inline-block;
	text-align: right;
	width: calc(100% - 69px);
	vertical-align: middle;
}
.main-nav__items {
	margin: 0;
	padding: 0;
	list-style: none; /* Important */
	/* text-decoration: none; */
}
.main-nav__item {
	display: inline-block; /* Important */
	/* padding: 10px; */
	margin: 0 16px;
}

.main-nav__item a {
	text-decoration: none;
	color: #0e4f1f;
	font-weight: bold;
}

.main-nav__item a:hover {
	color: white;
}

.main-nav__item a:active {
	color: red;
}
